<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Guide Page</title>
  <link rel="stylesheet" href="/css/guide.css"> <!-- Assuming your css is stored at /public/styles/guide.css -->
  <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>

    <%- include('./partials/navbar.ejs') %>

  <div class="guide-container">
    <img src="/images/explainer.jpg" alt="Guide Image" class="guide-image">
  </div>

</body>
</html>
